<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Ung Vien</title>
</head>
<body>
<h1>Create Ung Vien</h1>
<form th:action="@{/ungViens/create}" th:object="${ungVien}" method="post">
    <label for="tenUngVien">Ten Ung Vien:</label>
    <input type="text" id="tenUngVien" th:field="*{tenUngVien}"><br>
    <label for="avatarUrl">Avatar URL:</label>
    <input type="text" id="avatarUrl" th:field="*{avatarUrl}"><br>
    <label for="email">Email:</label>
    <input type="text" id="email" th:field="*{email}"><br>
    <label for="sdt">SDT:</label>
    <input type="text" id="sdt" th:field="*{sdt}"><br>
    <label for="diaChi">Dia Chi:</label>
    <input type="text" id="diaChi" th:field="*{diaChi}"><br>
    <label for="password">Mat khau:</label>
    <input type="text" id="password" th:field="*{password}"><br>
    <button type="submit">Create</button>
</form>
<a th:href="@{/ungViens}">Back to List</a>
</body>
</html>
